@import "tailwindcss";

/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;      /* IE & Edge */
  scrollbar-width: none;         /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari */
}